
*{
    margin: 0;
    padding: 0;
    box-sizing: unset;
}

body{
    height: 100vh;
    background-color: #E8E3DC;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;

}
nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
width:100%;
margin: 0 auto;
padding: 0 400px;
display:flex;
align-items: center;
justify-content: space-between;
background-color: #943D32;
}
.nav-bar .nav-links{
    display:flex;
align-items: center;

}
.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}
.nav-links li a{
position: relative;
font-size: 17px;
font-weight: 400;
text-decoration: none;
padding: 40px;

}
.container{
display: flex;
justify-content: center;
}
.card{
    width: 270px;
    height: 400px;
    margin: 10px;
    border-image: 20%;
}
.card-image{
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
}
.car-1{
   background-image: url('images/9d39d4c9800b964252a577f1a463fc25.jpg');
}
.card p{
    padding: 10px;

}
.card a{
    padding: 15px 20px;
    background-color: #943D32;
    color: #E8E3DC;
    display: block;
    text-align: center;
    margin: 20px 50px;
}
.card:hover {
    background-color: #CBAF9F;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}